services:
  nextjs:
    environment:
      - DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:5432/${DB_NAME}?sslmode=require
      - AUTH_GOOGLE_ID=${AUTH_GOOGLE_ID}
      - AUTH_GOOGLE_SECRET=${AUTH_GOOGLE_SECRET}
      - AUTH_APPLE_BUNDLE_ID=${AUTH_APPLE_BUNDLE_ID}
      - AUTH_APPLE_SERVICE_ID=${AUTH_APPLE_SERVICE_ID}
      - AUTH_APPLE_SECRET=${AUTH_APPLE_SECRET}
      - BETTER_AUTH_SECRET=${BETTER_AUTH_SECRET}
      - BETTER_AUTH_URL=${BETTER_AUTH_URL}
      - BETTER_AUTH_PRODUCTION_URL=${BETTER_AUTH_PRODUCTION_URL}
    build:
      dockerfile: apps/nextjs/Dockerfile
    healthcheck:
      test: ["CMD", "curl", "-f", "http://nextjs:3000/api/trpc/meta.health"]
      interval: 30s
      timeout: 10s
      retries: 5
    ports:
      - "3000:3000"
