@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@import "@probable/tailwind-config/theme";

/* this is the tailwind.config.js migrated config for:
*
*   corePlugins: {
*     backgroundOpacity: true,
*   },
*/
