:root {
  --background: oklch(0.93 0.002 146);
  --foreground: oklch(0.15 0.1 148);
  --card: oklch(0.975 0.002 146);
  --card-foreground: oklch(0.15 0.1 148);
  --popover: oklch(0.99 0.002 146);
  --popover-foreground: oklch(0.15 0.1 148);
  --primary: oklch(0.588 0.158 140);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.588 0.145 71);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.47 0.03 147);
  --muted-foreground: oklch(1 0.05 148);
  --accent: oklch(0.3 0.09 140);
  --accent-foreground: oklch(1 0.05 148);
  --warning: oklch(0.5 0.16 100);
  --warning-foreground: oklch(1 0.05 148);
  --destructive: oklch(0.5 0.16 30);
  --destructive-foreground: oklch(1 0 0);
  --info: oklch(0.5 0.16 260);
  --info-foreground: oklch(1 0 0);
  --border: oklch(0.7684 0.0083 140);
  --input: oklch(1 0 0);
  --ring: oklch(0.3 0.09 140);
  --radius: 12px;
  --shadow-2xs: 0px 2px 10px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 2px 10px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm:
    0px 2px 10px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow:
    0px 2px 10px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md:
    0px 2px 10px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg:
    0px 2px 10px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl:
    0px 2px 10px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 2px 10px 0px hsl(0 0% 0% / 0.13);
  /* --tracking-normal: 0rem; */
  /* --spacing: 0.25rem; */

  @variant dark {
    --background: oklch(0.22 0.003 146);
    --foreground: oklch(0.99 0.1 148);
    --card: oklch(0.322 0.0044 146);
    --card-foreground: oklch(0.99 0.1 148);
    --popover: oklch(0.2 0.05 148);
    --popover-foreground: oklch(0.99 0.1 148);
    --primary: oklch(0.83 0.11 140);
    --primary-foreground: oklch(0.1 0.05 148);
    --secondary: oklch(0.83 0.1 71);
    --secondary-foreground: oklch(0.1 0.05 148);
    --muted: oklch(0.74 0.03 149);
    --muted-foreground: oklch(0.1 0.05 148);
    --accent: oklch(0.96 0.075 140);
    --accent-foreground: oklch(0.1 0.05 148);
    --warning: oklch(0.7 0.16 100);
    --warning-foreground: oklch(0.1 0.05 148);
    --destructive: oklch(0.7 0.16 30);
    --destructive-foreground: oklch(0.1 0.05 148);
    --info: oklch(0.7 0.16 260);
    --info-foreground: oklch(0.1 0.05 148);
    --border: oklch(0.515 0.0111 140);
    --input: oklch(0.422 0.0096 140);
    --ring: oklch(0.96 0.075 140);
    --shadow-2xs: 0px 2px 10px 0px hsl(0 0% 0% / 0.1);
    --shadow-xs: 0px 2px 10px 0px hsl(0 0% 0% / 0.1);
    --shadow-sm:
      0px 2px 10px 0px hsl(0 0% 0% / 0.2), 0px 1px 2px -1px hsl(0 0% 0% / 0.2);
    --shadow:
      0px 2px 10px 0px hsl(0 0% 0% / 0.2), 0px 1px 2px -1px hsl(0 0% 0% / 0.2);
    --shadow-md:
      0px 2px 10px 0px hsl(0 0% 0% / 0.2), 0px 2px 4px -1px hsl(0 0% 0% / 0.2);
    --shadow-lg:
      0px 2px 10px 0px hsl(0 0% 0% / 0.2), 0px 4px 6px -1px hsl(0 0% 0% / 0.2);
    --shadow-xl:
      0px 2px 10px 0px hsl(0 0% 0% / 0.2), 0px 8px 10px -1px hsl(0 0% 0% / 0.2);
    --shadow-2xl: 0px 2px 10px 0px hsl(0 0% 0% / 0.5);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  /* --tracking-tighter: calc(var(--tracking-normal) - 0.05em); */
  /* --tracking-tight: calc(var(--tracking-normal) - 0.025em); */
  /* --tracking-normal: var(--tracking-normal); */
  /* --tracking-wide: calc(var(--tracking-normal) + 0.025em); */
  /* --tracking-wider: calc(var(--tracking-normal) + 0.05em); */
  /* --tracking-widest: calc(var(--tracking-normal) + 0.1em); */
}
